
html {
    font-family: Helvetica;
}

a, a:visited {
    color: #ed7113;
}


.content {
    width: 700px;
    margin: auto;
}

.inner-content {
    padding: 1em;
}


h1 {
    color: black;
    font-size: 40pt;
    margin: 0.2em;
}

.connecting {
    font-style: italic;
}

.preview {
    text-align: center;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 5px solid black;
    border-radius: 5px;
}

.preview .key {
    font-size: 100px;
    opacity: 0.0;
    color: #ed7113;
}

.animate {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
}

.left-bar {
    width: 450px;
    float: left;
}

.left-bar ul {
    list-style: none;
}

.left-bar ul button {
    width: 200px;
    height: 50px;
}

article {
    line-height: 2em;
}

fieldset {
    padding: 1.4em;
}

aside {
    font-size: 8pt;
    float: right;
    width: 200px;
}


.options label {
    display: block;
}

.options label input {
    vertical-align: middle;
}

@-webkit-keyframes fade {
    30% {
        opacity: 1.0;
    }
}


.clearfix {
    overflow: auto;
}

