
html {
    font-family: Helvetica;
}

.content {
    width: 700px;
    margin: auto;
}

.preview {
    width: 300px;
    height: 250px;
    margin: auto;
    border: 5px solid black;
    border-radius: 5px;

    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size:contain;
}

.preview table {
    position: relative;
    top: 10px;
    width: 200px;
    height: 200px;
    margin: auto;
}

.preview .key {
    opacity: 0.8;
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 50pt;
}

.key span {
    padding: 0px;
    margin: 0px;
    display: block;
}

.animate {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: 1;
}

.left-bar {
    width: 300px;
    float: left;
}

aside {
    float: right;
}


.options label {
    display: block;
}

@-webkit-keyframes fade {
    30% {
        color: lightgreen;
    }
}
